<%- include('_layouts/header') -%>
<form action="/login">
    <input value="Login" type="Submit" id="loginBtn">
    </form>
    <br>
    <br>
    <%- include('_layouts/nav') -%>
    <main>
            <div class="MainHeader">
            <h3>Fear is a Liar</h3>
            
            <h4>No Pain No Gain</h4>
            </div>
            <br>
            <div class="MainBody">
            <div class="container">
            <img src="images/Sample.webp" alt="Sample_Image">
            </div>
            <p>You can insert picture and text in the main body section<br>
               To share your workout experience such as what motivated you to keep working out?
            <br> Any thoughts or tips for the people who just started?
            <br> Meal plans? or what type of food should they commit eating or to avoid? 
            
            <br> <br>
            Write it here! Let us know. </p>
            </div>
        </main>
<%- include('_layouts/footer') -%>