<%- include('_layouts/header') -%>
<form action="/">
    <input value="Back" type="Submit" id="backBtn">
    </form>
    <br>
    <br>
<main class="logoff">
    <h3>Thank you for managing your content!</h3>
    <h3>You have successfully logged off.</h3>
</main>
<%- include('_layouts/footer') -%>     
