<%- include('_layouts/header') -%>
<form action="/allpage">
    <input value="All Pages" type="Submit" id="backBtn">
    </form>
    <br>
    <br>
<main class="logoff">
    <h3>Page Added Successfully!</h3>
</main>
<%- include('_layouts/footer') -%>   